<section class="content-header ng-scope">
    <h1 class="title">创建检查</h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> 创建检查</a></li>
        <li class="active">用户信息</li>
    </ol>
</section>
<section class="content ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="box" data-ng-model="order">
                <div class="box-header with-border">
                    <h3 class="box-title">用户信息</h3>
                </div>
                <div class="box-body box-body-padding">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputservicename" class="col-md-3 control-label">服务名称</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="inputservicename" ng-model="order_servicename" placeholder="临床评估">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputuserename" class="col-md-3 control-label">患者名称</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="inputuserename" ng-model="order_username" placeholder="张三">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sexman" class="col-md-3 control-label">性别</label>
                                    <div class="col-md-9">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="UserRadios" id="sexman" ng-model="sex" value="0"> 男
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="UserRadios" id="sexwoman" ng-model="sex" value="1"> 女
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputtelephone" class="col-md-3 control-label">电话</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="inputtelephone" ng-model="order_phone" placeholder="1234567890">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputbirthday" class="col-md-3 control-label">出生日期</label>
                                    <div class="col-md-9">
                                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="user_birthday" data-link-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" value="" readonly ng-model="endTime">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <input type="hidden" id="user_birthday" value="" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box-footer orderfooter">
                    <a class="btn next btn-warning btn-sm btn-flat pull-right" ui-sref="app.faceStatic" role="button" ng-click="storeModelsToService()">下一步</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
$('.form_date').datetimepicker({
    language: 'zh-CN',
    weekStart: 1,
    todayBtn: 1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
});
</script>
