<section class="content-header ng-scope">
    <h1 class="title">创建检查</h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> 创建检查</a></li>
        <li class="active">临床评估6</li>
    </ol>
</section>
<section class="content ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">患者: <span>{{patientinfo}}</span></h3>
                    <div class=" pull-right">
                        <h6 >临床评估--颞下颌关节</h6>
                    </div>
                </div>
                <div class="box-body box-body-padding">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputqddcy" class="col-md-3 control-label">气道阻塞</label>
                                    <div class="col-md-9">
                                        <div >
                                            <label class="radio-inline">
                                                <input type="radio" name="qddc" id="inputqddcy" ng-model="order_other_qddc" value="1" checked>
                                                有
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="qddc" id="inputqddcw" ng-model="order_other_qddc" value="2">
                                                无
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputdtqy" class="col-md-3 control-label">低通气</label>
                                    <div class="col-md-9">
                                        <div >
                                            <label class="radio-inline">
                                                <input type="radio" name="dtq" id="inputdtqy" ng-model="order_other_dtq" value="1" checked>
                                                有
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="dtq" id="inputdtqw" ng-model="order_other_dtq" value="2">
                                                无
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputfybqy" class="col-md-3 control-label">发音不清</label>
                                    <div class="col-md-9">
                                        <div >
                                            <label class="radio-inline">
                                                <input type="radio" name="fybq" id="inputfybqy" ng-model="order_other_fybq" value="1" checked>
                                                有
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="fybq" id="inputfybqw" ng-model="order_other_fybq" value="2">
                                                无
                                            </label>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">音节</span>
                                            <input type="text" class="form-control" id="inputyj" ng-model="order_other_yj"  placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputqtwt" class="col-md-3 control-label">其他问题 </label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" id="inputqtwt"  ng-model="order_other_qtwt" rows="3"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box-footer orderfooter">
                    <a class="btn prev btn-info btn-sm btn-flat pull-left btn_width" ui-sref="app.temporomandibularJoint" role="button" ng-click="storeModelsToService()">上一步</a>
                    <a class="btn play btn-success btn-sm btn-flat pull-right btn_width" role="button" ng-click="sendCheckDataToServer()">完成</a>
                </div>
            </div>
        </div>
    </div>
</section>
