<section class="content-header ng-scope">
    <h1 class="title">创建检查</h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> 创建检查</a></li>
        <li class="active">临床评估5</li>
    </ol>
</section>
<section class="content ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">患者姓名: <span>张某某 男 27岁</span></h3>
                    <div class=" pull-right">
                        <h6 >临床评估--牙齿检查</h6>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputzzy" class="col-md-3 control-label">症状</label>
                                    <div class="col-md-9">
                                        <div >
                                            <label class="radio-inline">
                                                <input type="radio" name="ygxtsh" id="inputzzy" ng-model="temporomandibularJoint_zza" value="1" checked>
                                                有
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="ygxtsh" id="inputzzw" ng-model="temporomandibularJoint_zzb" value="2">
                                                无
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputeqytw" class="col-md-3 control-label">耳前压痛</label>
                                    <div class="col-md-9">
                                        <div >
                                            <label class="radio-inline">
                                                <input type="radio" name="eqyt" id="inputeqytw" ng-model="order_temporomandibularJoint_eqyta" value="1" checked>
                                                无
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="eqyt" id="inputeqytyc" ng-model="order_temporomandibularJoint_eqytb" value="2">
                                                右侧
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="eqyt" id="inputeqytzc" ng-model="order_temporomandibularJoint_eqytc" value="3">
                                                左侧
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputjsytw" class="col-md-3 control-label">肌肉压痛</label>
                                    <div class="col-md-9">
                                        <div >
                                            <label class="radio-inline">
                                                <input type="radio" name="jsyt" id="inputjsytw" ng-model="order_temporomandibularJoint_jsyta" value="1" checked>
                                                无
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="jsyt" id="inputjsytyv" ng-model="order_temporomandibularJoint_jsytb" value="2">
                                                右侧
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="jsyt" id="inputjsytzc" ng-model="order_temporomandibularJoint_jsytc" value="3">
                                                左侧
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputtxy" class="col-md-3 control-label">弹响</label>
                                    <div class="col-md-9">
                                        <div >
                                            <label class="radio-inline">
                                                <input type="radio" name="tx" id="inputtxy" ng-model="order_temporomandibularJoint_txa" value="1" checked>
                                                有
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="tx" id="inputtxw" ng-model="order_temporomandibularJoint_txb" value="2">
                                                无
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputkkyc" class="col-md-3 control-label">开口</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"> 右侧</span>
                                            <input type="number" min="0"  step="0.1" class="form-control"  ng-model="order_temporomandibularJoint_kkyc" id="inputkkyc" placeholder="">
                                            <span class="input-group-addon"> mm</span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"> 左侧</span>
                                            <input type="number" min="0"  step="0.1" class="form-control"  ng-model="order_temporomandibularJoint_kkzc" id="inputkkzc" placeholder="">
                                            <span class="input-group-addon"> mm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputbkyc" class="col-md-3 control-label">闭口</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"> 右侧</span>
                                            <input type="number" min="0"  step="0.1" class="form-control"  ng-model="order_temporomandibularJoint_bkyc" id="inputbkyc" placeholder="">
                                            <span class="input-group-addon"> mm</span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"> 左侧</span>
                                            <input type="number" min="0"  step="0.1" class="form-control"  ng-model="order_temporomandibularJoint_bkzc" id="inputbkzc" placeholder="">
                                            <span class="input-group-addon"> mm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputzdzdkkd" class="col-md-3 control-label">主动最大开口度</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="number" min="0"  step="0.1" class="form-control"  ng-model="order_temporomandibularJoint_zdzdkkd" id="inputzdzdkkd" placeholder="">
                                            <span class="input-group-addon">mm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputzbzdkkd" class="col-md-3 control-label">被动最大开口度</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="number" min="0"  step="0.1" class="form-control"  ng-model="order_temporomandibularJoint_bdzdkkd" id="inputzbzdkkd" placeholder="">
                                            <span class="input-group-addon">mm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputcxydyc" class="col-md-3 control-label">侧向运动</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"> 右侧</span>
                                            <input type="number" min="0"  step="0.1" class="form-control"  ng-model="order_temporomandibularJoint_cxydyc" id="inputcxydyc" placeholder="">
                                            <span class="input-group-addon"> mm</span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"> 左侧</span>
                                            <input type="number" min="0"  step="0.1" class="form-control"  ng-model="order_temporomandibularJoint_cxydzc" id="inputcxydzc" placeholder="">
                                            <span class="input-group-addon"> mm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputqsyd" class="col-md-3 control-label">前伸运动</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="number" min="0"  step="0.1" class="form-control"  ng-model="order_temporomandibularJoint_qsyd" id="inputqsyd" placeholder="">
                                            <span class="input-group-addon">mm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputkkpxw" class="col-md-3 control-label">开口偏斜</label>
                                    <div class="col-md-9">
                                        <div >
                                            <label class="radio-inline">
                                                <input type="radio" name="ch" id="inputkkpxw" ng-model="order_temporomandibularJoint_kkpxa" value="1" checked>
                                                无
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="ch" id="inputkkpxyc" ng-model="order_temporomandibularJoint_kkpxb" value="2">
                                                右侧
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="ch" id="inputkkpxzc" ng-model="order_temporomandibularJoint_kkpxc" value="3">
                                                左侧
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box-footer orderfooter">
                    <a class="btn next btn-warning btn-sm btn-flat pull-right btn_width" ui-sref="app.other" role="button" ng-click="storeModelsToService()">下一步</a>
                    <a class="btn prev btn-info btn-sm btn-flat pull-left btn_width" ui-sref="app.teethCheck" role="button" ng-click="storeModelsToService()">上一步</a>
                </div>
            </div>
        </div>
    </div>
</section>
