@using MedicalTechnology.ServicePlatform.Website.Models
@model PermissionViewModel

@{
    ViewBag.Title = "DetailList";
}

<h2>DetailList</h2>
@Html.Partial("_ExtPermissionMgrPartial", Model)

