@model MedicalTechnology.ServicePlatform.Website.Models.ServiceTypeOperationViewModel
<div id="divprintop" style="float:left;width:300px;">
    <div>@Html.DisplayFor(x => x.ServiceTypeModel.ServerType.Name)</div>
    <div>@Html.DisplayFor(x => x.ServiceTypeModel.ServerType.Desc)</div>
</div>
