<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>检查列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../components/angular-material/angular-material.css" rel="stylesheet" />
    <link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../components/bootstrap/dist/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="../components/bootstrap/dist/css/style.css" rel="stylesheet">
    <link href="../components/bootstrap/dist/css/style-responsive.css" rel="stylesheet">
    <link href="../components/ng-table/dist/ng-table.min.css" rel="stylesheet">
    <link href="../components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../public/stylesheets/themes.css" rel="stylesheet" />
    <link href="../public/stylesheets/site.css" rel="stylesheet" />
    <link href="../public/stylesheets/style.css" rel="stylesheet" />
    <link href="../public/stylesheets/main.css" rel="stylesheet" />
    <link href="../public/stylesheets/querypatient.css" rel="stylesheet" />
    <link href="../public/stylesheets/icons.css" rel="stylesheet" />
</head>
<body ng-app="app" class="hold-transition sidebar-mini {{theme}} {{layout}}">
<div flash-message="5000"></div>
<ui-view></ui-view>
<script src="../components/jquery/jquery.js"></script>
<script src="../components/jquery-ui/jquery-ui.js"></script>
<script src="../components/angular/angular.js"></script>
<script src="../components/angular-route/angular-route.js"></script>
<script src="../components/angular-ui-router/angular-ui-router.js"></script>
<script src="../components/angular-cookies/angular-cookies.js"></script>
<script src="../components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../components/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
<script src="../components/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/components/ng-table/dist/ng-table.min.js"></script>
<script src="../components/angular-material/angular-material.js" ></script>
<script src="../config/config.js" ></script>
<script src="../public/javascripts/custom.js"></script>
<script src="../public/javascripts/app.js"></script>
<script src="../public/javascripts/main.js"></script>
<script src="../public/javascripts/plugin.js"></script>


<script src="../services/authentication.service.js"></script>
<script src="../services/flash.service.js"></script>
<script src="../services/user.service.local-storage.js"></script>
<script src="../controllers/home.controller.js"></script>
<script src="../controllers/login.controller.js"></script>
<script src="../controllers/register.controller.js"></script>
<script src="../services/orderCreate.service.js"></script>
<script src="../services/orderList.service.js"></script>
<script src="../controllers/app.controller.js"></script>
<script src="../controllers/login.controller.js"></script>
<script src="../controllers/orderCreate.controller.js"></script>
<script src="../controllers/orderList.controller.js"></script>
<script src="../controllers/faceSmileController.js"></script>
<script src="../controllers/teethCheck.controller.js"></script>
<script src="../controllers/temporomandibularJoint.controller.js"></script>
<script src="../controllers/othercontroller.js"></script>
<script src="../controllers/faceStaticController.js"></script>
<script src="../controllers/queryPatient.controller.js"></script>
</body>
</html>
