@model  MedicalTechnology.ServicePlatform.Website.Models.UserViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/User.css">
<script src="~/Scripts/Users.js"></script>
@Styles.Render("~/Content/main/css")
<div class="usercontent">
    @Html.Partial("_UserCreatePartial", Model);
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
