<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8" />
    <title>检查列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../components/angular-material/angular-material.css" rel="stylesheet" />
    <link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../components/bootstrap/dist/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../components/bootstrap/dist/css/style.css" rel="stylesheet">
    <link href="../components/bootstrap/dist/css/style-responsive.css" rel="stylesheet">
    <link href="../components/bootstrap/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" >
    <link href="../components/ng-table/dist/ng-table.min.css" rel="stylesheet">
    <link href="../components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../public/stylesheets/themes.css" rel="stylesheet" />
    <link href="../public/stylesheets/site.css" rel="stylesheet" />
    <link href="../public/stylesheets/style.css" rel="stylesheet" />
    <link href="../public/stylesheets/main.css" rel="stylesheet" />
    <link href="../public/stylesheets/icons.css" rel="stylesheet" />

</head>
<body ng-app="mainapp" class="hold-transition sidebar-mini {{theme}} {{layout}}">
<!-- Start Page Loading -->
<div class="loading"><img src="../public/images/loading.gif" alt="loading-img"></div>
<ui-view class="ng-scope">
    <div class="wrapper ng-scope">
        <header class="main-header">
            <!-- Logo -->
            <a class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>RD</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Ranjith Dashboard</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a class="sidebar-toggle" data-toggle="offcanvas" role="button" data-ng-click="vm.sideBar(1);">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown notifications-menu hidden-xs hidden-sm">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-align-justify"></i> Layouts
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <ul class="menu">
                                        <!-- ngRepeat: screen in vm.layouts --><li data-ng-repeat="screen in vm.layouts" data-ng-click="vm.setLayout(screen.layout);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-indent"></i> Boxed
                                        </a>
                                    </li><!-- end ngRepeat: screen in vm.layouts --><li data-ng-repeat="screen in vm.layouts" data-ng-click="vm.setLayout(screen.layout);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-indent"></i> Fixed
                                        </a>
                                    </li><!-- end ngRepeat: screen in vm.layouts --><li data-ng-repeat="screen in vm.layouts" data-ng-click="vm.setLayout(screen.layout);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-indent"></i> Sidebar Collapse
                                        </a>
                                    </li><!-- end ngRepeat: screen in vm.layouts -->
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-gears"></i> Themes
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <ul class="menu">
                                        <!-- ngRepeat: theme in vm.themes --><li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-flag text-black"></i>Dark - Black Skin
                                        </a>
                                    </li><!-- end ngRepeat: theme in vm.themes --><li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-flag-o text-black"></i>Light - Black Skin
                                        </a>
                                    </li><!-- end ngRepeat: theme in vm.themes --><li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-flag text-blue"></i>Dark - Blue Skin
                                        </a>
                                    </li><!-- end ngRepeat: theme in vm.themes --><li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-flag-o text-blue"></i>Light - Blue Skin
                                        </a>
                                    </li><!-- end ngRepeat: theme in vm.themes --><li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-flag text-green"></i>Dark - Green Skin
                                        </a>
                                    </li><!-- end ngRepeat: theme in vm.themes --><li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-flag-o text-green"></i>Light - Green Skin
                                        </a>
                                    </li><!-- end ngRepeat: theme in vm.themes --><li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-flag text-yellow"></i>Dark - Yellow Skin
                                        </a>
                                    </li><!-- end ngRepeat: theme in vm.themes --><li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-flag-o text-yellow"></i>Light - Yellow Skin
                                        </a>
                                    </li><!-- end ngRepeat: theme in vm.themes --><li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-flag text-red"></i>Dark - Red Skin
                                        </a>
                                    </li><!-- end ngRepeat: theme in vm.themes --><li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-flag-o text-red"></i>Light - Red Skin
                                        </a>
                                    </li><!-- end ngRepeat: theme in vm.themes --><li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-flag text-purple"></i>Dark - Purple Skin
                                        </a>
                                    </li><!-- end ngRepeat: theme in vm.themes --><li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);" class="ng-scope" role="button" tabindex="0">
                                        <a class="ng-binding">
                                            <i class="fa fa-flag-o text-purple"></i>Light - Purple Skin
                                        </a>
                                    </li><!-- end ngRepeat: theme in vm.themes -->
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../../images/ranjith.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">Ranjithprabhu</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="../../images/ranjith.png" class="img-circle" alt="User Image">

                                    <h3>Ranjithprabhu. K</h3>
                                    <p class="text-center">
                                        Software Engineer
                                        <small>Playing in Web - since 2010</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a ui-sref="app.about" class="btn btn-success btn-flat" href="#/app/about-me">About Me</a>
                                    </div>
                                    <div class="pull-right">
                                        <a ui-sref="login" class="btn btn-danger btn-flat" href="#/login">Log Out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
<!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../images/ranjith.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Ranjithprabhu. K</p>
                    <span class="text-aqua text-sm">Software Engineer</span>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form ng-pristine ng-valid">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="button" name="search" id="search-btn" class="btn btn-flat" data-ng-click="vm.search();"><i class=" fa fa-search"></i></button>
                        </span>
                </div>
            </form>
            <!-- /.search form -->
            <ul class="sidebar-menu">
                <!-- ngRepeat: menu in vm.menuItems --><li class="treeview ng-scope active" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems" role="button" tabindex="0">
                <a ui-sref="app.dashboard" href="#/app/dashboard">
                    <i class="fa fa-dashboard"></i> <span class="ng-binding">Dashboard</span>
                </a>
            </li><!-- end ngRepeat: menu in vm.menuItems --><li class="treeview ng-scope" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems" role="button" tabindex="0">
                <a ui-sref="app.skills" href="#/app/skills">
                    <i class="fa fa-gears"></i> <span class="ng-binding">Skills</span>
                </a>
            </li><!-- end ngRepeat: menu in vm.menuItems --><li class="treeview ng-scope" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems" role="button" tabindex="0">
                <a ui-sref="app.education" href="#/app/education">
                    <i class="fa fa-graduation-cap"></i> <span class="ng-binding">Education</span>
                </a>
            </li><!-- end ngRepeat: menu in vm.menuItems --><li class="treeview ng-scope" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems" role="button" tabindex="0">
                <a ui-sref="app.experience" href="#/app/experience">
                    <i class="fa fa-suitcase"></i> <span class="ng-binding">Experience</span>
                </a>
            </li><!-- end ngRepeat: menu in vm.menuItems --><li class="treeview ng-scope" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems" role="button" tabindex="0">
                <a ui-sref="app.recent" href="#/app/recent-projects">
                    <i class="fa fa-file-code-o"></i> <span class="ng-binding">Recent Projects</span>
                </a>
            </li><!-- end ngRepeat: menu in vm.menuItems --><li class="treeview ng-scope" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems" role="button" tabindex="0">
                <a ui-sref="app.websites" href="#/app/websites">
                    <i class="fa fa-globe"></i> <span class="ng-binding">Websites</span>
                </a>
            </li><!-- end ngRepeat: menu in vm.menuItems --><li class="treeview ng-scope" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems" role="button" tabindex="0">
                <a ui-sref="app.portfolio" href="#/app/portfolio">
                    <i class="fa fa-anchor"></i> <span class="ng-binding">Portfolio</span>
                </a>
            </li><!-- end ngRepeat: menu in vm.menuItems --><li class="treeview ng-scope" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems" role="button" tabindex="0">
                <a ui-sref="app.about" href="#/app/about-me">
                    <i class="fa fa-user-secret"></i> <span class="ng-binding">About Me</span>
                </a>
            </li><!-- end ngRepeat: menu in vm.menuItems --><li class="treeview ng-scope" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems" role="button" tabindex="0">
                <a ui-sref="app.contact" href="#/app/contact">
                    <i class="fa fa-phone"></i> <span class="ng-binding">Contact</span>
                </a>
            </li><!-- end ngRepeat: menu in vm.menuItems -->
                <li class="treeview" ui-sref-active="active" ng-click="vm.sideBar();" role="button" tabindex="0">
                    <a href="https://github.com/ranjithprabhuk/Angular-Bootstrap-Dashboard" target="_blank">
                        <i class="fa fa-github"></i> <span>View in Github</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- uiView: undefined --><ui-view class="ng-scope"><!--
Author: Ranjithprabhu K
Page Description: Dashboard Home page
Date: 05 Jan 2016
-->

<!-- Content Header (Page header) -->
<section class="content-header ng-scope">
    <h1>
        My Home Page
    </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Home</li>
    </ol>
</section>
<!-- Main content -->
<section class="content ng-scope">
    <!-- Info boxes -->
    <div class="row">
        <!-- ngRepeat: data in vm.home.mainData --><div class="col-md-3 col-sm-6 col-xs-12 ng-scope" data-ng-repeat="data in vm.home.mainData">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-puzzle-piece"></i></span>
            <div class="info-box-content">
                <span class="info-box-text ng-binding">Projects</span>
                <span class="info-box-number ng-binding">30+</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- end ngRepeat: data in vm.home.mainData --><div class="col-md-3 col-sm-6 col-xs-12 ng-scope" data-ng-repeat="data in vm.home.mainData">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-paint-brush"></i></span>
            <div class="info-box-content">
                <span class="info-box-text ng-binding">Designs</span>
                <span class="info-box-number ng-binding">250+</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- end ngRepeat: data in vm.home.mainData --><div class="col-md-3 col-sm-6 col-xs-12 ng-scope" data-ng-repeat="data in vm.home.mainData">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-trophy"></i></span>
            <div class="info-box-content">
                <span class="info-box-text ng-binding">Awards</span>
                <span class="info-box-number ng-binding">50+</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- end ngRepeat: data in vm.home.mainData --><div class="col-md-3 col-sm-6 col-xs-12 ng-scope" data-ng-repeat="data in vm.home.mainData">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-glass"></i></span>
            <div class="info-box-content">
                <span class="info-box-text ng-binding">Cups of Beer</span>
                <span class="info-box-number ng-binding">0</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- end ngRepeat: data in vm.home.mainData --><!-- /.col -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Am Casual but not Usual</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool bg-aqua-gradient" data-ng-click="vm.showDetails=!vm.showDetails"><!-- ngIf: vm.showDetails --><i class="fa fa-chevron-circle-up ng-scope" data-ng-if="vm.showDetails"></i><!-- end ngIf: vm.showDetails --><!-- ngIf: !vm.showDetails --></button>
                    </div>
                </div><!-- /.box-header -->

                <div class="box-body" data-ng-show="vm.showDetails" aria-hidden="false">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="owl-single" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 7030px; left: 0px; display: block; transition: all 400ms ease; transform: translate3d(-2109px, 0px, 0px);"><div class="owl-item" style="width: 703px;"><div class="item"> <img src="../../../../images/home/photo1.jpg"></div></div><div class="owl-item" style="width: 703px;"><div class="item"> <img src="../../../../images/home/photo2.jpg"></div></div><div class="owl-item" style="width: 703px;"><div class="item"> <img src="../../../../images/home/photo3.jpg"></div></div><div class="owl-item" style="width: 703px;"><div class="item"> <img src="../../../../images/home/photo4.jpg"></div></div><div class="owl-item" style="width: 703px;"><div class="item"> <img src="../../../../images/home/photo5.jpg"></div></div></div></div>




                                <div class="owl-controls"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div></div>
                        </div><!-- /.col -->
                        <div class="col-md-4" style="border-left:1px solid #eee;">
                            <p class="text-center">
                                <strong>Know About Me</strong>
                            </p>
                            <!-- ngRepeat: skill in vm.home.skills --><div class="progress-group ng-scope" data-ng-repeat="skill in vm.home.skills">
                            <span class="progress-text ng-binding">Design &amp; Development</span>
                            <span class="progress-number"><b class="ng-binding">80</b>/100</span>
                            <div class="progress sm border-radius-5">
                                <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                            </div>
                        </div><!-- end ngRepeat: skill in vm.home.skills --><div class="progress-group ng-scope" data-ng-repeat="skill in vm.home.skills">
                            <span class="progress-text ng-binding">Communication</span>
                            <span class="progress-number"><b class="ng-binding">83</b>/100</span>
                            <div class="progress sm border-radius-5">
                                <div class="progress-bar progress-bar-red" style="width: 83%"></div>
                            </div>
                        </div><!-- end ngRepeat: skill in vm.home.skills --><div class="progress-group ng-scope" data-ng-repeat="skill in vm.home.skills">
                            <span class="progress-text ng-binding">Planning &amp; Progressing</span>
                            <span class="progress-number"><b class="ng-binding">75</b>/100</span>
                            <div class="progress sm border-radius-5">
                                <div class="progress-bar progress-bar-green" style="width: 75%"></div>
                            </div>
                        </div><!-- end ngRepeat: skill in vm.home.skills --><div class="progress-group ng-scope" data-ng-repeat="skill in vm.home.skills">
                            <span class="progress-text ng-binding">Problem Solving &amp; Decision Making</span>
                            <span class="progress-number"><b class="ng-binding">85</b>/100</span>
                            <div class="progress sm border-radius-5">
                                <div class="progress-bar progress-bar-yellow" style="width: 85%"></div>
                            </div>
                        </div><!-- end ngRepeat: skill in vm.home.skills --><div class="progress-group ng-scope" data-ng-repeat="skill in vm.home.skills">
                            <span class="progress-text ng-binding">Loyal &amp; Dedication</span>
                            <span class="progress-number"><b class="ng-binding">100</b>/100</span>
                            <div class="progress sm border-radius-5">
                                <div class="progress-bar progress-bar-aqua" style="width: 100%"></div>
                            </div>
                        </div><!-- end ngRepeat: skill in vm.home.skills --><div class="progress-group ng-scope" data-ng-repeat="skill in vm.home.skills">
                            <span class="progress-text ng-binding">Fun &amp; Friendly</span>
                            <span class="progress-number"><b class="ng-binding">95</b>/100</span>
                            <div class="progress sm border-radius-5">
                                <div class="progress-bar progress-bar-green" style="width: 95%"></div>
                            </div>
                        </div><!-- end ngRepeat: skill in vm.home.skills --><div class="progress-group ng-scope" data-ng-repeat="skill in vm.home.skills">
                            <span class="progress-text ng-binding">Lazy &amp; Sleepy</span>
                            <span class="progress-number"><b class="ng-binding">40</b>/100</span>
                            <div class="progress sm border-radius-5">
                                <div class="progress-bar progress-bar-red" style="width: 40%"></div>
                            </div>
                        </div><!-- end ngRepeat: skill in vm.home.skills --><!-- /.progress-group -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- ./box-body -->
                <div class="box-footer">
                    <div class="row">
                        <h3 class="website-text text-uppercase">Tech &amp; Tools I Use Most</h3>
                        <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 4932px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-1233px, 0px, 0px);"><div class="owl-item" style="width: 137px;"><div class="item bg-yellow-gradient">
                                <img src="../../../../images/icons/angular.png">
                                <p>Angular JS</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-light-blue-gradient">
                                <img src="../../../../images/icons/mongodb.png">
                                <p>Mongo DB</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-green-gradient">
                                <img src="../../../../images/icons/express.png">
                                <p>Express JS</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-maroon-gradient">
                                <img src="../../../../images/icons/node.png">
                                <p>Node JS</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-red-gradient">
                                <img src="../../../../images/icons/javascript.png">
                                <p>Java Script</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-teal-gradient">
                                <img src="../../../../images/icons/typescript.png">
                                <p>Type Script</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-purple-gradient">
                                <img src="../../../../images/icons/jquery.png">
                                <p>jQuery</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-black-gradient">
                                <img src="../../../../images/icons/joomla.png">
                                <p>Joomla</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-blue-gradient">
                                <img src="../../../../images/icons/html5.png">
                                <p>HTML 5</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-yellow-gradient">
                                <img src="../../../../images/icons/css3.png">
                                <p>CSS 3</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-light-blue-gradient">
                                <img src="../../../../images/icons/saas.png">
                                <p>SAAS</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-green-gradient">
                                <img src="../../../../images/icons/bootstrap.png">
                                <p>Bootstrap</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-red-gradient">
                                <img src="../../../../images/icons/Photoshop.png">
                                <p>Photo Shop</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-purple-gradient">
                                <img src="../../../../images/icons/coreldraw.png">
                                <p>Corel Draw</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-maroon-gradient">
                                <img src="../../../../images/icons/java.png">
                                <p>Java</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-green-gradient">
                                <img src="../../../../images/icons/sql.png">
                                <p>SQL</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-maroon-gradient">
                                <img src="../../../../images/icons/hardware.png">
                                <p>Hardware</p>
                            </div></div><div class="owl-item" style="width: 137px;"><div class="item bg-red-gradient">
                                <img src="../../../../images/icons/cloud.png">
                                <p>Cloud Computing</p>
                            </div></div></div></div>

















                            <div class="owl-controls"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>

                        <div class="customNavigation">
                            <a class="btn prev btn-info btn-sm btn-flat">Previous</a>
                            <a class="btn next btn-warning btn-sm btn-flat">Next</a>
                            <a class="btn play btn-success btn-sm btn-flat">Autoplay</a>
                            <a class="btn stop btn-danger btn-sm btn-flat">Stop</a>
                        </div>
                    </div><!-- /.row -->

                </div><!-- /.box-footer -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
</ui-view>
</div>

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.3.2
    </div>
    <strong>Copyright © <a href="https://opensource.org/licenses/MIT" target="_blank">The MIT License (MIT)</a>.</strong> All rights reserved.
</footer>
</div>
</ui-view>
<script src="../components/jquery/jquery.js"></script>
<script src="../components/jquery-ui/jquery-ui.js"></script>
<script src="../components/angular/angular.js"></script>
<script src="../components/angular-route/angular-route.js"></script>
<script src="../components/angular-ui-router/angular-ui-router.js"></script>
<script src="../components/angular-cookies/angular-cookies.js"></script>
<script src="../components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/components/ng-table/dist/ng-table.min.js"></script>
<script src="../components/bootstrap/dist/js/bootstrap-datetimepicker.js" ></script>
<script src="../components/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js" ></script>
<script src="../components/angular-material/angular-material.js" ></script>
<script src="../public/javascripts/custom.js"></script> 
<script src="../public/javascripts/main.js"></script>
<script src="../public/javascripts/plugin.js"></script>

<script src="../services/orderCreate.service.js"></script>
<script src="../services/orderList.service.js"></script>
<script src="../controllers/orderCreate.controller.js"></script>
<script src="../controllers/orderList.controller.js"></script>
<script src="../controllers/faceSmileController.js"></script>
<script src="../controllers/teethCheck.controller.js"></script>
<script src="../controllers/temporomandibularJoint.controller.js"></script>
<script src="../controllers/othercontroller.js"></script>
<script src="../controllers/faceStaticController.js"></script>
<script src="../controllers/queryPatient.controller.js"></script>

</body>
</html>