<!--footer-->
<div data-theme="b" class="ui-footer ui-bar-b ui-footer-fixed slidedown"
	data-role="footer" data-position="fixed" data-id="footer" data-tap-toggle="false"> 
	<div data-role="navbar" class="nav_bar">
		<ul>
			<li>
				<a href="main.html" rel="external"
					class="show-page-loading-msg" data-icon="home"
					data-transition="slide" >
						首页
				</a>
			</li>
			<li>
				<a href="patient.html" rel="external"
					class="show-page-loading-msg" data-icon="search"
					data-transition="slide">
						病人
				</a>
				<!--<div class="count"><span>4</span></div>-->
			</li>
			<li>
				<a href="ask.html" rel="external"
					class="show-page-loading-msg" data-icon="star"
					data-transition="slide">
						提问
					 </a>
			</li>
			<li>
				<a href="doctor.html" rel="external"
					class="show-page-loading-msg" data-icon="info"
					data-transition="slide">
						医生
				</a>
			</li>
			<li class="last">
				<a href="my.html" rel="external"
					class="show-page-loading-msg" data-icon="gear"
					data-transition="slide">
						我的
				</a>
			</li>
		</ul>
	</div>
</div>
<!--footer-->