
@{
    ViewBag.Title = "ServiceWorkflowHelp";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
@Styles.Render("~/Content/main/css")
<script type="text/javascript" src="~/Scripts/Help.js"></script>
<div class="divtitle divtitle-common">
    <p class="titleinfo serverlist">服务流程</p><div class="divcontrolsw"><img src="~/Content/images/素材01 (18).png" /></div>
</div>
<div id="info">
    <div class="easyui-resizable" data-options="handle:'#mytitle',minWidth:100,minHeight:100" style="width:350px;height:250px;border:1px solid #ccc;float:left;margin:5px;">
        <div id="mytitle" style="background:#ddd;padding:5px">服务流程</div>
        <div style="padding:20px">
            <ul>
                <li>医生提交申请</li>
                <li>技术专家阅读申请，退回申请和分配申请</li>
                <li>技术人员处理申请</li>
                <li>医生提交申请</li>
                <li>技术专家阅读申请，退回申请和分配申请</li>
                <li>技术人员处理申请</li>
            </ul>
        </div>
    </div>
    <div class="easyui-resizable" data-options="handle:'#mytitle1',minWidth:100,minHeight:100" style="width:350px;height:250px;border:1px solid #ccc;float:left;margin:5px;">
        <div id="mytitle1" style="background:#ddd;padding:5px">术前信息采集</div>
        <div style="padding:20px">
            <ul>
                <li>医生提交申请</li>
                <li>技术专家阅读申请，退回申请和分配申请</li>
                <li>技术人员处理申请</li>
                <li>医生提交申请</li>
                <li>技术专家阅读申请，退回申请和分配申请</li>
                <li>技术人员处理申请</li>
            </ul>
        </div>
    </div>
    <div class="easyui-resizable" data-options="handle:'#mytitle1',minWidth:100,minHeight:100" style="width:350px;height:250px;border:1px solid #ccc;float:left;margin:5px;">
        <div id="mytitle1" style="background:#ddd;padding:5px">扫描仪使用</div>
        <div style="padding:20px">
            <ul>
                <li>医生提交申请</li>
                <li>技术专家阅读申请，退回申请和分配申请</li>
                <li>技术人员处理申请</li>
                <li>医生提交申请</li>
                <li>技术专家阅读申请，退回申请和分配申请</li>
                <li>技术人员处理申请</li>
            </ul>
        </div>
    </div>
    <div class="easyui-resizable" data-options="handle:'#mytitle1',minWidth:100,minHeight:100" style="width:350px;height:250px;border:1px solid #ccc;float:left;margin:5px;">
        <div id="mytitle1" style="background:#ddd;padding:5px">陀螺仪使用</div>
        <div style="padding:20px">
            <ul>
                <li>医生提交申请</li>
                <li>技术专家阅读申请，退回申请和分配申请</li>
                <li>技术人员处理申请</li>
                <li>医生提交申请</li>
                <li>技术专家阅读申请，退回申请和分配申请</li>
                <li>技术人员处理申请</li>
            </ul>
        </div>
    </div>
</div>

