<div ng-controller="QueryPatientController" class="row-fluid sortable">
    <div class="box span12 no-box-margin-bottom">
        <div class="box-content">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="dtp_input1" class="col-md-4 control-label">检查开始日期</label>
                    <div class="col-md-4" >
                        <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd" >
                            <input class="form-control" size="16" type="text" value="" readonly ng-model="startTime" ng-disabled="nameQuery">
                            <span class="input-group-addon" ng-hide="nameQuery"><span class="glyphicon glyphicon-remove" ></span></span>
                            <span class="input-group-addon" ng-hide="nameQuery"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input1" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <!-- <input type="hidden" id="dtp_input1" value="" /><br/> -->
                    <label for="dtp_input2" class="col-md-4 control-label">结束日期</label>
                    <div class="col-md-4">
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" ng-disabled="nameQuery">
                            <input class="form-control" size="16" type="text" value="" readonly ng-model="endTime">
                            <span class="input-group-addon" ng-hide="nameQuery"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon" ng-hide="nameQuery"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input2" value="" />
                    </div>
                </div>
                <div class="form-group" >
                    <label for="name" class="col-md-4 control-label">患者姓名</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="name"
                        placeholder="请输入患者姓名" ng-model="patientName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-md-4 control-label">患者年龄</label>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="age">
                            <option>所有年龄段</option>
                            <option>0～10岁</option>
                            <option>11～20岁</option>
                            <option>21～30岁</option>
                            <option>31～40岁</option>
                            <option>41～50岁</option>
                            <option>61～70岁</option>
                            <option>71～  </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn play btn-success btn-sm btn-flat pull-right" ng-click="tableParams.reload()">查询</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="box span12 box-height no-box-margin-bottom">
        <div class="box-content">
            <table ng-table="tableParams"  class="table table-striped table-bordered table-hover col-md-12" >
                <tr ng-repeat="patient in tableParams.data" ng-click="setClickedRow($index)" ng-dblclick="editOneCheck($index)"
                    ng-class="{'patient-list-row-selected':$index == selectedRow}">
                    <td data-title="'患者姓名'" class="table-text-align-center">
                        {{patient.name}}
                    </td>
                    <td data-title="'性别'" class="table-text-align-center">
                        {{patient.gender}}
                    </td>
                    <td data-title="'年龄'" class="table-text-align-center">
                        {{patient.age}}
                    </td>
                    <td data-title="'检查日期'" class="table-text-align-center">
                        {{patient.checktime}}
                    </td>
                    <td data-title="'操作'" class="center">
                        <a class="btn btn-info" ng-click="editOneCheck($index)" ui-sref="app.createOrder">
                            <i class="glyphicon glyphicon-edit" ></i>
                        </a>
                        <a class="btn btn-danger" ng-click="deleterow($index)" href="javascript:void(0)">
                            <i class="glyphicon glyphicon-trash white trash"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        </div>
</div><!--/row-->

        
<script type="text/javascript">
$('.form_date').datetimepicker({
    language: 'zh-CN',
    weekStart: 1,
    todayBtn: 1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
});
</script>
